.social-icons {
  margin-top: 2rem;

  > a {
    color: $gray;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $green;
    }
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
}

.social-icon {
  font-size: 1.5rem;
}
