.contact-links {
  margin-top: 2.5rem;

  @include breakpoint-up(md) {
    display: flex;
  }

  &__column {
    margin-right: 2rem;
  }

  &__name {
    font-size: 1rem;
    font-weight: 600;

    @include breakpoint-up(md) {
      font-size: 1.25rem;
    }
  }
}

.contact-link {
  color: $gray;
  font-size: 1rem;

  @include breakpoint-up(md) {
    font-size: 1.25rem;
  }
}

.greetings {
  display: block;
  text-align: center;
  padding-top: 0;

  h1 {
    font-size: 4.5rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  a {
    display: inline-block;
  }
}

.accept {
  font-size: 1rem;
  color: darken($gray, 20%);
  margin-left: 0.5rem;

  a {
    font-size: 1rem;
    color: $gray;
  }
}
