.contact-links {
  margin-top: 2.5rem;

  @include breakpoint-up(md) {
    display: flex;
  }

  &__column {
    margin-right: 2rem;
  }

  &__name {
    font-size: 1rem;
    font-weight: 600;

    @include breakpoint-up(md) {
      font-size: 1.25rem;
    }
  }
}

.contact-link {
  color: $gray;
  font-size: 1rem;

  @include breakpoint-up(md) {
    font-size: 1.25rem;
  }
}
