* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border-collapse: inherit;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
  font-family: "Poppins";
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include breakpoint-up(md) {
    // overflow: hidden;
  }
}

body {
  background-color: $black;
  color: $white;
  height: 300vh;
}

// Noise effect

#main {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: fixed;
}

#main::before {
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  content: "";
  position: absolute;
  background-position: 50%;
  background-image: url("../../images/noise.png");
  animation: noise 1s steps(2) infinite;
}

@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    transform: translate3d(-7rem, 0, 0);
  }
}

a,
a:visited {
  color: $white;
  text-decoration: none;
}

// Classes
.container {
  padding: 0 2rem;
  display: flex;
  overflow: hidden;
  max-width: 1600px;

  @include breakpoint-up(sm) {
    margin: 0 auto;
    padding: 0px 3rem;
  }

  @include breakpoint-up(md) {
    padding: 0px 4rem;
  }

  @include breakpoint-up(lg) {
    padding: 0px 5rem;
  }

  @include breakpoint-up(xl) {
    padding: 0px 6rem;
  }
}

h1 {
  font-size: 5rem;
  letter-spacing: -5px;
  font-weight: 600;
  line-height: 85%;

  @include breakpoint-up(lg) {
    font-size: 8rem;
    font-weight: 700;
  }
}

h2 {
  font-size: 2.25rem;
  line-height: 110%;
  margin-top: 1rem;

  @include breakpoint-up(lg) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.25rem;
  color: $white;
  margin-top: 1.25rem;
}

p {
  font-size: 1rem;
  line-height: 150%;

  @include breakpoint-up(lg) {
    font-size: 1.1rem;
  }
}

.hide-for-mobile {
  @include breakpoint-down(md) {
    display: none;
  }
}

// Buttons
.underline {
  color: $white;

  &::after {
    content: "";
    width: 0;
    height: 1px;
    background: $white;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s 0.1s ease-in-out;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.btn {
  border: 1px solid $darkGray;
  border-radius: 100rem;
  padding: 1rem 2.5rem;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $green;
  }
}

.no-scroll {
  overflow-y: hidden;
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}

.scroll-top {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  color: $white;
  width: 4rem;
  height: 4rem;
  background-color: $darkTransparent;
  border: none;
  display: grid;
  opacity: 0;
  place-content: center;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.3s ease;

  @include breakpoint-up(sm) {
    right: 3rem;
  }

  @include breakpoint-up(md) {
    right: 4rem;
  }

  @include breakpoint-up(lg) {
    right: 5rem;
  }

  @include breakpoint-up(xl) {
    right: 6rem;
  }

  img {
    width: 1.5rem;
    transform: rotate(180%);

    @include breakpoint-up(md) {
      width: 2rem;
    }
  }

  &--active {
    opacity: 1;
  }
}
