.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: $black;

  &__logo {
    display: grid;
    place-items: center;
  }
}

.menu-btn {
  width: 32px;

  > span {
    display: block;
    background-color: $white;
    width: 32px;
    height: 1px;

    &:first-child {
      width: 25px;
      margin-left: 7px;
    }

    &:last-child {
      width: 20px;
      margin-left: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
