.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  z-index: 99;

  @include breakpoint-up(md) {
    height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &__logo {
    display: grid;
    place-items: center;
  }
}

.menu-btn {
  width: 32px;

  @include breakpoint-up(md) {
    display: none;
  }

  > span {
    display: block;
    background-color: $white;
    width: 32px;
    height: 1px;

    &:first-child {
      width: 25px;
      margin-left: 7px;
    }

    &:last-child {
      width: 20px;
      margin-left: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.nav {
  @include breakpoint-down(md) {
    display: none;
  }
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 2rem;
    font-size: 1rem;
  }
}
