.hero {
  display: grid;
  grid-template-columns: 1fr;
  align-content: flex-end;
  padding-top: 10rem;
  padding-bottom: 7rem;
  min-height: 100vh;

  @include breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
    align-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  &__text {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    z-index: 1;

    @include breakpoint-up(md) {
      align-content: center;
      justify-content: flex-start;
    }
  }

  &__title {
    font-size: 1.5rem;
    color: $green;
    margin-bottom: 1rem;
  }

  p {
    margin-top: 2rem;
  }
}

.scroll-icon {
  margin-top: 4rem;

  > img {
    -webkit-animation: animation1 1.5s infinite;
    animation: animation1 2s infinite;
  }

  > a {
    margin-left: 10px;
    color: $green;
  }
}
@-webkit-keyframes animation1 {
  0% {
    -webkit-transform: translate(0, -5px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-0px, 3px);
    opacity: 0;
  }
}
@keyframes animation1 {
  0% {
    transform: translate(0, -5px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, 3px);
    opacity: 0;
  }
}

.illustration {
  width: 100%;

  @include breakpoint-down(sm) {
    display: none;
  }

  img {
    width: 100%;
  }
}
