.hero {
  display: grid;
  grid-template-columns: 1fr;
  align-content: flex-end;
  padding-top: 10rem;
  padding-bottom: 7rem;
  min-height: 100vh;

  @include breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
    align-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  &__text {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    z-index: 1;

    @include breakpoint-up(md) {
      align-content: center;
      justify-content: flex-start;
    }
  }

  // &__img {
  //   img {
  //     width: 80%;
  //     position: absolute;
  //     top: 45vh;
  //     left: 50%;
  //     transform: translate(-50%, -50%);

  //     @include breakpoint-up(md) {
  //       position: relative;
  //       width: 30vw;
  //       top: 2rem;
  //       bottom: 0;
  //       left: 50%;
  //       transform: translate(-50%, 0);
  //     }
  //   }
  // }

  p {
    margin-top: 3rem;
  }
}

.scroll-icon {
  margin-top: 4rem;

  > img {
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 2s infinite;
  }

  > a {
    margin-left: 10px;
    color: $green;
  }
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: translate(0, -5px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-0px, 3px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: translate(0, -5px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, 3px);
    opacity: 0;
  }
}

.illustration {
  width: 100%;

  @include breakpoint-down(sm) {
    display: none;
  }

  img {
    width: 100%;
  }
}
