.swiper {
  width: 100%;
}

.swiper-nav {
  display: flex;
  margin-top: 1rem;

  @include breakpoint-up(md) {
    margin-top: 2rem;
  }
}

.swiper-slide {
  background-color: $darkTransparent;
  width: 90% !important;

  @include breakpoint-up(md) {
    width: 80% !important;
  }
}

.swiper-button {
  color: $white;
  width: 4rem;
  height: 4rem;
  background-color: $darkTransparent;
  border: none;
  display: grid;
  place-content: center;
  margin-right: 1rem;
  cursor: pointer;

  img {
    width: 2rem;

    @include breakpoint-up(md) {
      width: 2.5rem;
    }
  }

  @include breakpoint-up(md) {
    width: 5rem;
    height: 5rem;
    margin-right: 1.5rem;
  }
}

.project {
  text-align: left;

  &__img {
    display: block;
    width: 100%;
    max-height: 240px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(105%);
      }
    }

    @include breakpoint-up(md) {
      height: 18vw;
      max-height: 375px;
    }
  }

  &__desc {
    padding: 2rem 1.5rem;

    @include breakpoint-up(md) {
      padding: 3rem 2.5rem;
    }
  }

  &__tags {
    display: flex;
    text-transform: uppercase;
  }

  &__tag {
    margin-right: 1rem;
    font-size: 0.825rem;
    color: $gray;

    @include breakpoint-up(md) {
      font-size: 1rem;
    }
  }

  &__name {
    font-size: 1.5rem;
    line-height: 110%;
    font-weight: 600;
    margin-top: 0.5rem;
    word-wrap: break-word;

    @include breakpoint-up(md) {
      font-size: 2rem;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 1rem;

    @include breakpoint-up(md) {
      font-size: 1.25rem;
    }
  }
}

.tech-icons {
  margin-top: 2rem;

  img {
    height: 1.2rem;
  }

  > a {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
