.section {
  display: grid;
  grid-template-columns: 100%;
  align-content: flex-start;
  margin-top: 10rem;

  @include breakpoint-up(sm) {
    margin-top: 0rem;
  }

  @include breakpoint-up(md) {
    grid-template-columns: 50% 50%;
    padding-top: 8rem;
    height: 100vh;
    align-content: center;
  }

  &__column1 {
    @include breakpoint-up(md) {
      display: flex;
      margin-right: 3rem;
      justify-content: flex-start;
      align-content: center;
      flex-wrap: wrap;
    }
  }

  &__column2 {
    margin-top: 3rem;

    @include breakpoint-up(md) {
      display: flex;
      margin-left: 3rem;
      justify-content: flex-start;
      align-content: center;
      flex-wrap: wrap;
      margin-top: 0;
    }
  }

  &__title {
    color: $green;
    font-weight: 500;
    display: flex;
    align-items: center;

    > span {
      display: flex;
      width: 2rem;
      height: 2px;
      margin-right: 1rem;
      background: $green;
    }
  }

  &__desc {
    color: $gray;
    margin-top: 1.5rem;
  }
}
