.section {
  display: grid;
  grid-template-columns: 100%;
  align-content: flex-start;
  padding-top: 8rem;
  padding-bottom: 8rem;

  @include breakpoint-up(md) {
    grid-template-columns: 50% 50%;
    align-content: center;
  }

  &__column1 {
    @include breakpoint-up(md) {
      display: grid;
      align-content: center;
      margin-right: 3rem;
    }
  }

  &__column2 {
    margin-top: 3rem;

    @include breakpoint-up(md) {
      display: grid;
      align-content: center;
      margin-left: 3rem;
      margin-top: 0;
    }
  }

  &__title {
    color: $green;
    font-weight: 500;
    display: flex;
    align-items: center;

    > span {
      display: flex;
      width: 2rem;
      height: 2px;
      margin-right: 1rem;
      background: $green;
      font-size: 1.25rem;
    }
  }

  &__desc {
    color: $gray;
    margin-top: 1.5rem;
  }
}

.sample-page {
  grid-template-columns: 100%;
  text-align: justify;

  h1,
  h2,
  h3,
  h4 {
    // width: 100%;
    letter-spacing: normal;
    margin: 1rem 0;
    line-height: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    margin: 1rem 0rem;
  }

  ul {
    list-style: circle !important;
    padding-left: 1rem;
  }
}

h1.title {
  padding: 4rem 0;
  font-size: 3rem !important;

  @include breakpoint-up(md) {
    font-size: 7rem !important;
  }
}

.thank-you {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    letter-spacing: normal;

    @include breakpoint-up(md) {
      font-size: 4rem;
    }
  }

  P {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  a {
    align-self: flex-start;
    width: fit-content;
    margin: 0;
  }
}
